In [1]:
import pandas as pd
import numpy as np

In [103]:
#read accidentes.csv
accidentes = pd.read_csv('TRAFICO/accidentes.csv')

C:\Users\calba\AppData\Local\Temp\ipykernel_4940\3711788833.py:2: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  accidentes = pd.read_csv('TRAFICO/accidentes.csv')

In [104]:
accidentes

,fecha,hora,dia_semana,distrito,localizacion,numero,lesividad,meteo,coordenada_x_utm,coordenada_y_utm
0,01/01/2013,DE 00:00 A 00:59,MARTES,FUENCARRAL-EL PARDO,"AUTOVIA M-30 CALZADA 1 KM., 31400",31400,HL,Lloviendo,NaN,NaN
1,01/01/2013,DE 00:00 A 00:59,MARTES,TETUAN,"AVENIDA DE ASTURIAS - CALLE DEL CAÑAVERAL,",0,HL,Lloviendo,NaN,NaN
2,01/01/2013,DE 2:00 A 2:59,MARTES,CHAMARTIN,"AUTOVIA M-30 CALZADA 1 - AVENIDA DE AMERICA,",0,HL,Lloviendo,NaN,NaN
3,01/01/2013,DE 4:00 A 4:59,MARTES,CHAMBERI,CALLE DE GUZMAN EL BUENO - CALLE DE FERNANDEZ ...,0,HL,Lloviendo,NaN,NaN
4,01/01/2013,DE 6:00 A 6:59,MARTES,MONCLOA-ARAVACA,"CARRETERA DE HUMERA, 2",2,HL,Lloviendo,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
133944,31/12/2022,0:30:00,NaN,CHAMBERÍ,"CALLE ALMAGRO, 44",44,HL,Normal,"441323,318","4475943,533"
133945,29/12/2022,19:00:00,NaN,ARGANZUELA,MADRID,23,NO ASIGNADA,Normal,"439327,947","4472963,361"
133946,30/12/2022,14:10:00,NaN,VICÁLVARO,"CALLE ERIAL DE LA ABUELA, 2",2,NO ASIGNADA,Normal,"453272,378","4472861,473"
133947,29/12/2022,19:40:00,NaN,CARABANCHEL,CALLE GENERAL RICARDOS / plaza de toros,174,HL,Normal,"437453,757","4470784,586"
133948,12/12/2022,22:50:00,NaN,USERA,AVDA. ANDALUCIA / AVDA. PERLA,14,NO ASIGNADA,Lloviendo,"441049,284","4469136,878"

In [105]:
#check for null values
accidentes.isnull().sum()

fecha                   0
hora                    0
dia_semana          74267
distrito                0
localizacion          933
numero                933
lesividad               0
meteo                   0
coordenada_x_utm    59682
coordenada_y_utm    59682
dtype: int64

In [106]:
#check for rows for which localizacion is null and coordenada_x_utm is null
accidentes[(accidentes['localizacion'].isnull()) & (accidentes['coordenada_x_utm'].isnull())]

,fecha,hora,dia_semana,distrito,localizacion,numero,lesividad,meteo,coordenada_x_utm,coordenada_y_utm
5,01/01/2013,DE 7:00 A 7:59,MARTES,ARGANZUELA,NaN,NaN,HL,Niebla,NaN,NaN
9,01/01/2013,DE 10:00 A 10:59,MARTES,PUENTE DE VALLECAS,NaN,NaN,HL,Niebla,NaN,NaN
32,02/01/2013,DE 19:00 A 19:59,MIERCOLES,CARABANCHEL,NaN,NaN,HL,Normal,NaN,NaN
33,02/01/2013,DE 19:00 A 19:59,MIERCOLES,LATINA,NaN,NaN,HL,Niebla,NaN,NaN
107,05/01/2013,DE 16:00 A 16:59,SABADO,ARGANZUELA,NaN,NaN,HL,Normal,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
59038,06/12/2018,DE 4:00 A 4:59,JUEVES,CARABANCHEL,NaN,NaN,HL,Normal,NaN,NaN
59074,07/12/2018,DE 16:00 A 16:59,VIERNES,TETUAN,NaN,NaN,HL,Normal,NaN,NaN
59163,11/12/2018,DE 13:00 A 13:59,MARTES,SALAMANCA,NaN,NaN,HL,Normal,NaN,NaN
59298,14/12/2018,DE 20:00 A 20:59,VIERNES,USERA,NaN,NaN,HG,Normal,NaN,NaN
59346,16/12/2018,DE 16:00 A 16:59,DOMINGO,SAN BLAS,NaN,NaN,HL,Normal,NaN,NaN

In [107]:
#drom rows for which localizacion is null and coordenada_x_utm is null
accidentes.drop(accidentes[(accidentes['localizacion'].isnull()) & (accidentes['coordenada_x_utm'].isnull())].index, inplace=True)

In [109]:
#reset index
accidentes.reset_index(drop=True, inplace=True)

In [110]:
# divide the dataframe into two dataframes based on the null values in the column coordenada_x_utmç
accidentes_null = accidentes[accidentes['coordenada_x_utm'].isnull()]
accidentes_not_null = accidentes[accidentes['coordenada_x_utm'].notnull()]

In [111]:
accidentes_null

,fecha,hora,dia_semana,distrito,localizacion,numero,lesividad,meteo,coordenada_x_utm,coordenada_y_utm
0,01/01/2013,DE 00:00 A 00:59,MARTES,FUENCARRAL-EL PARDO,"AUTOVIA M-30 CALZADA 1 KM., 31400",31400,HL,Lloviendo,NaN,NaN
1,01/01/2013,DE 00:00 A 00:59,MARTES,TETUAN,"AVENIDA DE ASTURIAS - CALLE DEL CAÑAVERAL,",0,HL,Lloviendo,NaN,NaN
2,01/01/2013,DE 2:00 A 2:59,MARTES,CHAMARTIN,"AUTOVIA M-30 CALZADA 1 - AVENIDA DE AMERICA,",0,HL,Lloviendo,NaN,NaN
3,01/01/2013,DE 4:00 A 4:59,MARTES,CHAMBERI,CALLE DE GUZMAN EL BUENO - CALLE DE FERNANDEZ ...,0,HL,Lloviendo,NaN,NaN
4,01/01/2013,DE 6:00 A 6:59,MARTES,MONCLOA-ARAVACA,"CARRETERA DE HUMERA, 2",2,HL,Lloviendo,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
58744,31/12/2018,DE 16:00 A 16:59,LUNES,USERA,"AVENIDA DE LOS ROSALES, 32",32,HL,Normal,NaN,NaN
58745,31/12/2018,DE 19:00 A 19:59,LUNES,SAN BLAS,CARRETERA DE ACCESO A LA ESTACION DE O'DONNELL...,0,HL,Normal,NaN,NaN
58746,31/12/2018,DE 21:00 A 21:59,LUNES,CENTRO,"CALLE DE VILLANUEVA - PASEO DE RECOLETOS,",0,HL,Normal,NaN,NaN
58747,31/12/2018,DE 21:00 A 21:59,LUNES,SALAMANCA,"CALLE DE VELAZQUEZ - CALLE DE VILLANUEVA,",0,HL,Normal,NaN,NaN
58748,31/12/2018,DE 23:00 A 23:59,LUNES,HORTALEZA,CALLE DE JOAQUIN FERNANDEZ LEIVA - CALLE DE SI...,0,HL,Normal,NaN,NaN

In [112]:
accidentes_not_null

,fecha,hora,dia_semana,distrito,localizacion,numero,lesividad,meteo,coordenada_x_utm,coordenada_y_utm
58749,04/02/2019,9:10:00,NaN,CENTRO,"CALLE ALBERTO AGUILERA, 1",1,HL,Normal,"440068,049","4475679,17"
58750,01/01/2019,3:45:00,NaN,CARABANCHEL,PASEO. SANTA MARIA DE LA CABEZA / PLAZA. ELIPTICA,168,NO ASIGNADA,Normal,"439139,603","4470836,854"
58751,01/01/2019,3:50:00,NaN,LATINA,"CALLE CUART DE POBLET, 65",65,HL,Normal,"436473,789","4472030,489"
58752,01/01/2019,4:00:00,NaN,USERA,"CALLE MARCELO USERA, 30",30,NO ASIGNADA,Normal,"440462,407","4470926,552"
58753,01/01/2019,4:00:00,NaN,MONCLOA-ARAVACA,"CALLE ISLA DE OZA, 15",15,NO ASIGNADA,Normal,"438274,088","4479629,873"
...,...,...,...,...,...,...,...,...,...,...
133011,31/12/2022,0:30:00,NaN,CHAMBERÍ,"CALLE ALMAGRO, 44",44,HL,Normal,"441323,318","4475943,533"
133012,29/12/2022,19:00:00,NaN,ARGANZUELA,MADRID,23,NO ASIGNADA,Normal,"439327,947","4472963,361"
133013,30/12/2022,14:10:00,NaN,VICÁLVARO,"CALLE ERIAL DE LA ABUELA, 2",2,NO ASIGNADA,Normal,"453272,378","4472861,473"
133014,29/12/2022,19:40:00,NaN,CARABANCHEL,CALLE GENERAL RICARDOS / plaza de toros,174,HL,Normal,"437453,757","4470784,586"
133015,12/12/2022,22:50:00,NaN,USERA,AVDA. ANDALUCIA / AVDA. PERLA,14,NO ASIGNADA,Lloviendo,"441049,284","4469136,878"

In [113]:
#read geo_loc
geo_loc = pd.read_csv('TRAFICO/geo_loc.csv')

In [114]:
geo_loc

      Unnamed: 0    id   utm_x    utm_y  longitud    latitud
0              0  3840  441615  4475768 -3.688323  40.430502
1              1  3841  441706  4475770 -3.687256  40.430524
2              2  3842  441319  4474841 -3.691727  40.422132
3              3  3843  441302  4474764 -3.691929  40.421433
4              4  3844  441606  4476132 -3.688470  40.433782
...          ...   ...     ...      ...       ...        ...
4685        4685  6809  444065  4481586 -3.659954  40.483080
4686        4686  6810  444068  4481594 -3.659926  40.483158
4687        4687  6933  443003  4481709 -3.672497  40.484118
4688        4688  7129  443003  4481716 -3.672500  40.484181
4689        4689  7015  443020  4481807 -3.672308  40.485002

[4690 rows x 6 columns]

In [115]:
geo_loc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4690 entries, 0 to 4689
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  4690 non-null   int64
 1   id          4690 non-null   int64
 2   utm_x       4690 non-null   int64
 3   utm_y       4690 non-null   int64
 4   longitud    4690 non-null   float64
 5   latitud     4690 non-null   float64
dtypes: float64(2), int64(4)
memory usage: 220.0 KB

In [116]:
#delete the column 'Unnamed: 0'
geo_loc = geo_loc.drop('Unnamed: 0', axis=1)

In [117]:
# from accidents, round to nearest integer the columns 'coordenada_x_utm' and 'coordenada_y_utm'
accidentes_not_null['coordenada_x_utm'] = accidentes_not_null['coordenada_x_utm'].str.split(',', expand=True)[0]
accidentes_not_null['coordenada_y_utm'] = accidentes_not_null['coordenada_y_utm'].str.split(',', expand=True)[0]

C:\Users\calba\AppData\Local\Temp\ipykernel_4940\45626212.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  accidentes_not_null['coordenada_x_utm'] = accidentes_not_null['coordenada_x_utm'].str.split(',', expand=True)[0]
C:\Users\calba\AppData\Local\Temp\ipykernel_4940\45626212.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  accidentes_not_null['coordenada_y_utm'] = accidentes_not_null['coordenada_y_utm'].str.split(',', expand=True)[0]

In [118]:
accidentes_not_null[accidentes_not_null['coordenada_x_utm'] == "#¡VALOR!"]

,fecha,hora,dia_semana,distrito,localizacion,numero,lesividad,meteo,coordenada_x_utm,coordenada_y_utm
71085,23/07/2019,8:45:00,NaN,FUENCARRAL-EL PARDO,"AUTOV. M-30, +03200E",+03200E,HL,Normal,#¡VALOR!,#¡VALOR!
88554,09/08/2020,18:10:00,NaN,CARABANCHEL,"CALLE POLVORANCA, 13",13,NO ASIGNADA,Normal,#¡VALOR!,#¡VALOR!
89654,13/09/2020,17:45:00,NaN,PUENTE DE VALLECAS,AVDA. ALBUFERA / AVDA. PABLO NERUDA,273,IL,Normal,#¡VALOR!,#¡VALOR!
108117,17/10/2021,12:20:00,NaN,PUENTE DE VALLECAS,RONDA. SUR / CALLE MARTOS,241,NO ASIGNADA,Normal,#¡VALOR!,#¡VALOR!
111163,03/12/2021,6:30:00,NaN,MONCLOA-ARAVACA,"CALLE REY FRANCISCO, 28",28,NO ASIGNADA,Normal,#¡VALOR!,#¡VALOR!
111790,14/12/2021,9:10:00,NaN,MORATALAZ,"AUTOV. M-23, KM 0,700",0,HL,Normal,#¡VALOR!,#¡VALOR!
112563,27/12/2021,2:10:00,NaN,CIUDAD LINEAL,PLAZA. AGUSTIN GONZALEZ / CALLE SANTA GENOVEVA,1,NO ASIGNADA,Normal,#¡VALOR!,#¡VALOR!
112654,29/12/2021,0:00:00,NaN,TETUÁN,URB. MANZANA DE AZCA / CALLE AGUSTIN DE BETANC...,0,NO ASIGNADA,Normal,#¡VALOR!,#¡VALOR!
112691,29/12/2021,13:55:00,NaN,CARABANCHEL,CALLE GENERAL RICARDOS / CALLE BATALLA DE TORR...,220,IL,Normal,#¡VALOR!,#¡VALOR!
112730,30/12/2021,23:10:00,NaN,MORATALAZ,"CALLE ARROYO DE LA MEDIA LEGUA, 72",72,HG,Se desconoce,#¡VALOR!,#¡VALOR!
113148,10/01/2022,5:40:00,NaN,CARABANCHEL,"CALLE GENERAL RICARDOS, 15",15,NO ASIGNADA,Normal,#¡VALOR!,#¡VALOR!
131131,01/12/2022,11:25:00,NaN,SALAMANCA,"CALLE FERNAN GONZALEZ, 2",2,NO ASIGNADA,Normal,#¡VALOR!,#¡VALOR!
131363,04/12/2022,15:35:00,NaN,PUENTE DE VALLECAS,CALLE DOLORES FOLGUERAS / CALLE PICO DE LA MAL...,3A,HL,Normal,#¡VALOR!,#¡VALOR!
131831,12/12/2022,8:00:00,NaN,USERA,"A42 KM 6,300",162,IL,Normal,#¡VALOR!,#¡VALOR!
132293,18/12/2022,6:00:00,NaN,PUENTE DE VALLECAS,AVDA. ALBUFERA / CIUDAD DE BARCELONA,1,HL,Normal,#¡VALOR!,#¡VALOR!
133010,31/12/2022,17:17:00,NaN,TETUÁN,CALLE RAIMUNDO FERNANDEZ VILLAVERDE / edg,47,NO ASIGNADA,Normal,#¡VALOR!,#¡VALOR!

In [119]:
# Transform the rows with '#¡VALOR!' to NaN
accidentes_not_null['coordenada_x_utm'] = accidentes_not_null['coordenada_x_utm'].replace('#¡VALOR!', np.nan)
accidentes_not_null['coordenada_y_utm'] = accidentes_not_null['coordenada_y_utm'].replace('#¡VALOR!', np.nan)

C:\Users\calba\AppData\Local\Temp\ipykernel_4940\2679667536.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  accidentes_not_null['coordenada_x_utm'] = accidentes_not_null['coordenada_x_utm'].replace('#¡VALOR!', np.nan)

In [121]:
#concatenate the two dataframes
accidentes = pd.concat([accidentes_not_null, accidentes_null])

accidentes

,fecha,hora,dia_semana,distrito,localizacion,numero,lesividad,meteo,coordenada_x_utm,coordenada_y_utm
58749,04/02/2019,9:10:00,NaN,CENTRO,"CALLE ALBERTO AGUILERA, 1",1,HL,Normal,440068,4475679
58750,01/01/2019,3:45:00,NaN,CARABANCHEL,PASEO. SANTA MARIA DE LA CABEZA / PLAZA. ELIPTICA,168,NO ASIGNADA,Normal,439139,4470836
58751,01/01/2019,3:50:00,NaN,LATINA,"CALLE CUART DE POBLET, 65",65,HL,Normal,436473,4472030
58752,01/01/2019,4:00:00,NaN,USERA,"CALLE MARCELO USERA, 30",30,NO ASIGNADA,Normal,440462,4470926
58753,01/01/2019,4:00:00,NaN,MONCLOA-ARAVACA,"CALLE ISLA DE OZA, 15",15,NO ASIGNADA,Normal,438274,4479629
...,...,...,...,...,...,...,...,...,...,...
58744,31/12/2018,DE 16:00 A 16:59,LUNES,USERA,"AVENIDA DE LOS ROSALES, 32",32,HL,Normal,NaN,NaN
58745,31/12/2018,DE 19:00 A 19:59,LUNES,SAN BLAS,CARRETERA DE ACCESO A LA ESTACION DE O'DONNELL...,0,HL,Normal,NaN,NaN
58746,31/12/2018,DE 21:00 A 21:59,LUNES,CENTRO,"CALLE DE VILLANUEVA - PASEO DE RECOLETOS,",0,HL,Normal,NaN,NaN
58747,31/12/2018,DE 21:00 A 21:59,LUNES,SALAMANCA,"CALLE DE VELAZQUEZ - CALLE DE VILLANUEVA,",0,HL,Normal,NaN,NaN
58748,31/12/2018,DE 23:00 A 23:59,LUNES,HORTALEZA,CALLE DE JOAQUIN FERNANDEZ LEIVA - CALLE DE SI...,0,HL,Normal,NaN,NaN

In [122]:
# separate the dataframe into two dataframes based on the null values in the column 'coordenada_x_utm'
accidentes_null = accidentes[accidentes['coordenada_x_utm'].isnull()]
accidentes_not_null = accidentes[accidentes['coordenada_x_utm'].notnull()]

In [123]:
# transform the columns 'coordenada_x_utm' and 'coordenada_y_utm' to integer
accidentes_not_null['coordenada_x_utm'] = accidentes_not_null['coordenada_x_utm'].astype(int)
accidentes_not_null['coordenada_y_utm'] = accidentes_not_null['coordenada_y_utm'].astype(int)

C:\Users\calba\AppData\Local\Temp\ipykernel_4940\3286841901.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  accidentes_not_null['coordenada_x_utm'] = accidentes_not_null['coordenada_x_utm'].astype(int)
C:\Users\calba\AppData\Local\Temp\ipykernel_4940\3286841901.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  accidentes_not_null['coordenada_y_utm'] = accidentes_not_null['coordenada_y_utm'].astype(int)

In [124]:
#Find the nearest point in the dataframe geo_loc to the point in the dataframe accidentes
def find_nearest_point(row):

    # get the point in the dataframe accidentes
    point = (row['coordenada_x_utm'], row['coordenada_y_utm'])

    # find the nearest point in the dataframe geo_loc
    nearest_point = geo_loc.iloc[(geo_loc[['utm_x', 'utm_y']].sub(point).pow(2).sum(1).pow(0.5)).idxmin()]

    # return the nearest point
    return nearest_point

In [125]:
accidentes_not_null

,fecha,hora,dia_semana,distrito,localizacion,numero,lesividad,meteo,coordenada_x_utm,coordenada_y_utm
58749,04/02/2019,9:10:00,NaN,CENTRO,"CALLE ALBERTO AGUILERA, 1",1,HL,Normal,440068,4475679
58750,01/01/2019,3:45:00,NaN,CARABANCHEL,PASEO. SANTA MARIA DE LA CABEZA / PLAZA. ELIPTICA,168,NO ASIGNADA,Normal,439139,4470836
58751,01/01/2019,3:50:00,NaN,LATINA,"CALLE CUART DE POBLET, 65",65,HL,Normal,436473,4472030
58752,01/01/2019,4:00:00,NaN,USERA,"CALLE MARCELO USERA, 30",30,NO ASIGNADA,Normal,440462,4470926
58753,01/01/2019,4:00:00,NaN,MONCLOA-ARAVACA,"CALLE ISLA DE OZA, 15",15,NO ASIGNADA,Normal,438274,4479629
...,...,...,...,...,...,...,...,...,...,...
133011,31/12/2022,0:30:00,NaN,CHAMBERÍ,"CALLE ALMAGRO, 44",44,HL,Normal,441323,4475943
133012,29/12/2022,19:00:00,NaN,ARGANZUELA,MADRID,23,NO ASIGNADA,Normal,439327,4472963
133013,30/12/2022,14:10:00,NaN,VICÁLVARO,"CALLE ERIAL DE LA ABUELA, 2",2,NO ASIGNADA,Normal,453272,4472861
133014,29/12/2022,19:40:00,NaN,CARABANCHEL,CALLE GENERAL RICARDOS / plaza de toros,174,HL,Normal,437453,4470784
133015,12/12/2022,22:50:00,NaN,USERA,AVDA. ANDALUCIA / AVDA. PERLA,14,NO ASIGNADA,Lloviendo,441049,4469136

In [126]:
# apply the function to the dataframe accidentes
accidentes_not_null_points = accidentes_not_null.apply(find_nearest_point, axis=1)

In [127]:
accidentes_not_null_points

             id     utm_x      utm_y  longitud    latitud
58749    7067.0  440051.0  4475693.0 -3.706762  40.429720
58750   10850.0  439135.0  4470828.0 -3.717086  40.385821
58751    4755.0  436561.0  4471933.0 -3.747522  40.395582
58752    4775.0  440500.0  4470959.0 -3.701018  40.387103
58753   10012.0  438590.0  4479958.0 -3.724393  40.468025
...         ...       ...        ...       ...        ...
133011   4432.0  441330.0  4475958.0 -3.691701  40.432195
133012   3418.0  439317.0  4472964.0 -3.715155  40.405076
133013   6215.0  449599.0  4472620.0 -3.593954  40.402664
133014  10282.0  437473.0  4470792.0 -3.736671  40.385377
133015  10285.0  441025.0  4469137.0 -3.694667  40.370722

[74251 rows x 5 columns]

In [128]:
# join the two dataframes on the index
accidentes_n = accidentes_not_null_points.join(accidentes_not_null, how='outer')

In [129]:
accidentes_n

,id,utm_x,utm_y,longitud,latitud,fecha,hora,dia_semana,distrito,localizacion,numero,lesividad,meteo,coordenada_x_utm,coordenada_y_utm
58749,7067.0,440051.0,4475693.0,-3.706762,40.429720,04/02/2019,9:10:00,NaN,CENTRO,"CALLE ALBERTO AGUILERA, 1",1,HL,Normal,440068,4475679
58750,10850.0,439135.0,4470828.0,-3.717086,40.385821,01/01/2019,3:45:00,NaN,CARABANCHEL,PASEO. SANTA MARIA DE LA CABEZA / PLAZA. ELIPTICA,168,NO ASIGNADA,Normal,439139,4470836
58751,4755.0,436561.0,4471933.0,-3.747522,40.395582,01/01/2019,3:50:00,NaN,LATINA,"CALLE CUART DE POBLET, 65",65,HL,Normal,436473,4472030
58752,4775.0,440500.0,4470959.0,-3.701018,40.387103,01/01/2019,4:00:00,NaN,USERA,"CALLE MARCELO USERA, 30",30,NO ASIGNADA,Normal,440462,4470926
58753,10012.0,438590.0,4479958.0,-3.724393,40.468025,01/01/2019,4:00:00,NaN,MONCLOA-ARAVACA,"CALLE ISLA DE OZA, 15",15,NO ASIGNADA,Normal,438274,4479629
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133011,4432.0,441330.0,4475958.0,-3.691701,40.432195,31/12/2022,0:30:00,NaN,CHAMBERÍ,"CALLE ALMAGRO, 44",44,HL,Normal,441323,4475943
133012,3418.0,439317.0,4472964.0,-3.715155,40.405076,29/12/2022,19:00:00,NaN,ARGANZUELA,MADRID,23,NO ASIGNADA,Normal,439327,4472963
133013,6215.0,449599.0,4472620.0,-3.593954,40.402664,30/12/2022,14:10:00,NaN,VICÁLVARO,"CALLE ERIAL DE LA ABUELA, 2",2,NO ASIGNADA,Normal,453272,4472861
133014,10282.0,437473.0,4470792.0,-3.736671,40.385377,29/12/2022,19:40:00,NaN,CARABANCHEL,CALLE GENERAL RICARDOS / plaza de toros,174,HL,Normal,437453,4470784
133015,10285.0,441025.0,4469137.0,-3.694667,40.370722,12/12/2022,22:50:00,NaN,USERA,AVDA. ANDALUCIA / AVDA. PERLA,14,NO ASIGNADA,Lloviendo,441049,4469136

In [130]:
# merge the two dataframes
accidentes = pd.concat([accidentes_n, accidentes_null])

In [131]:
accidentes

,id,utm_x,utm_y,longitud,latitud,fecha,hora,dia_semana,distrito,localizacion,numero,lesividad,meteo,coordenada_x_utm,coordenada_y_utm
58749,7067.0,440051.0,4475693.0,-3.706762,40.429720,04/02/2019,9:10:00,NaN,CENTRO,"CALLE ALBERTO AGUILERA, 1",1,HL,Normal,440068,4475679
58750,10850.0,439135.0,4470828.0,-3.717086,40.385821,01/01/2019,3:45:00,NaN,CARABANCHEL,PASEO. SANTA MARIA DE LA CABEZA / PLAZA. ELIPTICA,168,NO ASIGNADA,Normal,439139,4470836
58751,4755.0,436561.0,4471933.0,-3.747522,40.395582,01/01/2019,3:50:00,NaN,LATINA,"CALLE CUART DE POBLET, 65",65,HL,Normal,436473,4472030
58752,4775.0,440500.0,4470959.0,-3.701018,40.387103,01/01/2019,4:00:00,NaN,USERA,"CALLE MARCELO USERA, 30",30,NO ASIGNADA,Normal,440462,4470926
58753,10012.0,438590.0,4479958.0,-3.724393,40.468025,01/01/2019,4:00:00,NaN,MONCLOA-ARAVACA,"CALLE ISLA DE OZA, 15",15,NO ASIGNADA,Normal,438274,4479629
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58744,NaN,NaN,NaN,NaN,NaN,31/12/2018,DE 16:00 A 16:59,LUNES,USERA,"AVENIDA DE LOS ROSALES, 32",32,HL,Normal,NaN,NaN
58745,NaN,NaN,NaN,NaN,NaN,31/12/2018,DE 19:00 A 19:59,LUNES,SAN BLAS,CARRETERA DE ACCESO A LA ESTACION DE O'DONNELL...,0,HL,Normal,NaN,NaN
58746,NaN,NaN,NaN,NaN,NaN,31/12/2018,DE 21:00 A 21:59,LUNES,CENTRO,"CALLE DE VILLANUEVA - PASEO DE RECOLETOS,",0,HL,Normal,NaN,NaN
58747,NaN,NaN,NaN,NaN,NaN,31/12/2018,DE 21:00 A 21:59,LUNES,SALAMANCA,"CALLE DE VELAZQUEZ - CALLE DE VILLANUEVA,",0,HL,Normal,NaN,NaN
58748,NaN,NaN,NaN,NaN,NaN,31/12/2018,DE 23:00 A 23:59,LUNES,HORTALEZA,CALLE DE JOAQUIN FERNANDEZ LEIVA - CALLE DE SI...,0,HL,Normal,NaN,NaN

In [132]:
# order the columns of the dataframe fecha, hora, dia_semana, distrito, localizacion, numero, id, coordenada_x_utm, coordenada_y_utm, longitud, latitud, lesividad, meteo
accidentes = accidentes[['fecha', 'hora', 'dia_semana', 'distrito', 'localizacion', 'numero', 'id', 'coordenada_x_utm', 'coordenada_y_utm', 'longitud', 'latitud', 'lesividad', 'meteo']]
accidentes

,fecha,hora,dia_semana,distrito,localizacion,numero,id,coordenada_x_utm,coordenada_y_utm,longitud,latitud,lesividad,meteo
58749,04/02/2019,9:10:00,NaN,CENTRO,"CALLE ALBERTO AGUILERA, 1",1,7067.0,440068,4475679,-3.706762,40.429720,HL,Normal
58750,01/01/2019,3:45:00,NaN,CARABANCHEL,PASEO. SANTA MARIA DE LA CABEZA / PLAZA. ELIPTICA,168,10850.0,439139,4470836,-3.717086,40.385821,NO ASIGNADA,Normal
58751,01/01/2019,3:50:00,NaN,LATINA,"CALLE CUART DE POBLET, 65",65,4755.0,436473,4472030,-3.747522,40.395582,HL,Normal
58752,01/01/2019,4:00:00,NaN,USERA,"CALLE MARCELO USERA, 30",30,4775.0,440462,4470926,-3.701018,40.387103,NO ASIGNADA,Normal
58753,01/01/2019,4:00:00,NaN,MONCLOA-ARAVACA,"CALLE ISLA DE OZA, 15",15,10012.0,438274,4479629,-3.724393,40.468025,NO ASIGNADA,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...
58744,31/12/2018,DE 16:00 A 16:59,LUNES,USERA,"AVENIDA DE LOS ROSALES, 32",32,NaN,NaN,NaN,NaN,NaN,HL,Normal
58745,31/12/2018,DE 19:00 A 19:59,LUNES,SAN BLAS,CARRETERA DE ACCESO A LA ESTACION DE O'DONNELL...,0,NaN,NaN,NaN,NaN,NaN,HL,Normal
58746,31/12/2018,DE 21:00 A 21:59,LUNES,CENTRO,"CALLE DE VILLANUEVA - PASEO DE RECOLETOS,",0,NaN,NaN,NaN,NaN,NaN,HL,Normal
58747,31/12/2018,DE 21:00 A 21:59,LUNES,SALAMANCA,"CALLE DE VELAZQUEZ - CALLE DE VILLANUEVA,",0,NaN,NaN,NaN,NaN,NaN,HL,Normal
58748,31/12/2018,DE 23:00 A 23:59,LUNES,HORTALEZA,CALLE DE JOAQUIN FERNANDEZ LEIVA - CALLE DE SI...,0,NaN,NaN,NaN,NaN,NaN,HL,Normal

In [133]:
# order the dataframe by the column 'fecha' and then by the column 'hora'
accidentes = accidentes.sort_values(by=['fecha', 'hora'])

In [135]:
# reset the index
accidentes = accidentes.reset_index(drop=True)

In [136]:
accidentes

,fecha,hora,dia_semana,distrito,localizacion,numero,id,coordenada_x_utm,coordenada_y_utm,longitud,latitud,lesividad,meteo
0,01/01/2013,DE 00:00 A 00:59,MARTES,FUENCARRAL-EL PARDO,"AUTOVIA M-30 CALZADA 1 KM., 31400",31400,NaN,NaN,NaN,NaN,NaN,HL,Lloviendo
1,01/01/2013,DE 00:00 A 00:59,MARTES,TETUAN,"AVENIDA DE ASTURIAS - CALLE DEL CAÑAVERAL,",0,NaN,NaN,NaN,NaN,NaN,HL,Lloviendo
2,01/01/2013,DE 12:00 A 12:59,MARTES,MONCLOA-ARAVACA,"CUESTA DE SAN VICENTE, 2",2,NaN,NaN,NaN,NaN,NaN,HL,Normal
3,01/01/2013,DE 13:00 A 13:59,MARTES,MONCLOA-ARAVACA,"AVENIDA DEL DOCTOR FEDERICO RUBIO Y GALI, 65",65,NaN,NaN,NaN,NaN,NaN,HL,Normal
4,01/01/2013,DE 15:00 A 15:59,MARTES,CHAMARTIN,"AVENIDA DE AMERICA - CALLE DE CARTAGENA,",0,NaN,NaN,NaN,NaN,NaN,HL,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...
133011,31/12/2022,5:40:00,NaN,MONCLOA-ARAVACA,"AUTOV. M-30, 20XC00",20XC00,6690.0,437482,4475763,-3.737499,40.432080,NO ASIGNADA,Normal
133012,31/12/2022,6:00:00,NaN,PUENTE DE VALLECAS,"AVDA. ALBUFERA, 246",246,6947.0,445162,4471242,-3.645091,40.389891,HL,Normal
133013,31/12/2022,6:25:00,NaN,SALAMANCA,"C/ JOSE ORTEGA Y GASSET, 40-42",40,4006.0,442441,4475706,-3.677839,40.429990,NO ASIGNADA,Normal
133014,31/12/2022,6:50:00,NaN,VILLA DE VALLECAS,"CALLE ENRIQUE GARCIA ALVAREZ, 11",11,10785.0,447813,4470373,-3.610817,40.382550,NO ASIGNADA,Normal
133015,31/12/2022,8:43:00,NaN,MORATALAZ,"CMNO. ANTIGUO VIEJO DE VICALVARO, FAROLA 172",0,6212.0,447542,4472949,-3.616231,40.405273,MT,Normal

In [137]:
# if the last character of the column localizacion is ',', delete it
accidentes['localizacion'] = accidentes['localizacion'].str.rstrip(',')

In [138]:
accidentes

,fecha,hora,dia_semana,distrito,localizacion,numero,id,coordenada_x_utm,coordenada_y_utm,longitud,latitud,lesividad,meteo
0,01/01/2013,DE 00:00 A 00:59,MARTES,FUENCARRAL-EL PARDO,"AUTOVIA M-30 CALZADA 1 KM., 31400",31400,NaN,NaN,NaN,NaN,NaN,HL,Lloviendo
1,01/01/2013,DE 00:00 A 00:59,MARTES,TETUAN,AVENIDA DE ASTURIAS - CALLE DEL CAÑAVERAL,0,NaN,NaN,NaN,NaN,NaN,HL,Lloviendo
2,01/01/2013,DE 12:00 A 12:59,MARTES,MONCLOA-ARAVACA,"CUESTA DE SAN VICENTE, 2",2,NaN,NaN,NaN,NaN,NaN,HL,Normal
3,01/01/2013,DE 13:00 A 13:59,MARTES,MONCLOA-ARAVACA,"AVENIDA DEL DOCTOR FEDERICO RUBIO Y GALI, 65",65,NaN,NaN,NaN,NaN,NaN,HL,Normal
4,01/01/2013,DE 15:00 A 15:59,MARTES,CHAMARTIN,AVENIDA DE AMERICA - CALLE DE CARTAGENA,0,NaN,NaN,NaN,NaN,NaN,HL,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...
133011,31/12/2022,5:40:00,NaN,MONCLOA-ARAVACA,"AUTOV. M-30, 20XC00",20XC00,6690.0,437482,4475763,-3.737499,40.432080,NO ASIGNADA,Normal
133012,31/12/2022,6:00:00,NaN,PUENTE DE VALLECAS,"AVDA. ALBUFERA, 246",246,6947.0,445162,4471242,-3.645091,40.389891,HL,Normal
133013,31/12/2022,6:25:00,NaN,SALAMANCA,"C/ JOSE ORTEGA Y GASSET, 40-42",40,4006.0,442441,4475706,-3.677839,40.429990,NO ASIGNADA,Normal
133014,31/12/2022,6:50:00,NaN,VILLA DE VALLECAS,"CALLE ENRIQUE GARCIA ALVAREZ, 11",11,10785.0,447813,4470373,-3.610817,40.382550,NO ASIGNADA,Normal
133015,31/12/2022,8:43:00,NaN,MORATALAZ,"CMNO. ANTIGUO VIEJO DE VICALVARO, FAROLA 172",0,6212.0,447542,4472949,-3.616231,40.405273,MT,Normal

In [139]:
# save the dataframe to a csv file
accidentes.to_csv('TRAFICO/accidentes090.csv', index=False)