In [2]:
import pandas as pd
import numpy as np
import time

In [3]:
# import data accidentes
accidentes = pd.read_csv('TRAFICO/accidentes.csv')
accidentes

C:\Users\calba\AppData\Local\Temp\ipykernel_36660\3939563889.py:2: DtypeWarning: Columns (3,7) have mixed types. Specify dtype option on import or set low_memory=False.
  accidentes = pd.read_csv('TRAFICO/accidentes.csv')

,Unnamed: 0,fecha,hora,dia_semana,distrito,localizacion,numero,n_parte,lesividad,meteo,coordenada_x_utm,coordenada_y_utm
0,0,01/01/2013,DE 00:00 A 00:59,MARTES,FUENCARRAL-EL PARDO,AUTOVIA M-30 CALZADA 1 KM.,31400,2013/102,HL,Lloviendo,NaN,NaN
1,1,01/01/2013,DE 00:00 A 00:59,MARTES,TETUAN,AVENIDA DE ASTURIAS - CALLE DEL CAÑAVERAL,0,2013/165,HL,Lloviendo,NaN,NaN
2,2,01/01/2013,DE 2:00 A 2:59,MARTES,CHAMARTIN,AUTOVIA M-30 CALZADA 1 - AVENIDA DE AMERICA,0,2013/216,HL,Lloviendo,NaN,NaN
3,3,01/01/2013,DE 4:00 A 4:59,MARTES,CHAMBERI,CALLE DE GUZMAN EL BUENO - CALLE DE FERNANDEZ ...,0,2013/6,HL,Lloviendo,NaN,NaN
4,4,01/01/2013,DE 6:00 A 6:59,MARTES,MONCLOA-ARAVACA,CARRETERA DE HUMERA NUM,2,2013/51,HL,Lloviendo,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
133944,133944,31/12/2022,0:30:00,NaN,CHAMBERÍ,"CALL. ALMAGRO, 44",44,NaN,HL,Normal,"441323,318","4475943,533"
133945,133945,29/12/2022,19:00:00,NaN,ARGANZUELA,MADRID,23,NaN,NO ASIGNADA,Normal,"439327,947","4472963,361"
133946,133946,30/12/2022,14:10:00,NaN,VICÁLVARO,"CALL. ERIAL DE LA ABUELA, 2",2,NaN,NO ASIGNADA,Normal,"453272,378","4472861,473"
133947,133947,29/12/2022,19:40:00,NaN,CARABANCHEL,CALL. GENERAL RICARDOS / plaza de toros,174,NaN,HL,Normal,"437453,757","4470784,586"
133948,133948,12/12/2022,22:50:00,NaN,USERA,AVDA. ANDALUCIA / AVDA. PERLA,14,NaN,NO ASIGNADA,Lloviendo,"441049,284","4469136,878"

In [4]:
accidentes.drop(['Unnamed: 0', 'n_parte'], axis = 1, inplace = True)

In [5]:
accidentes

,fecha,hora,dia_semana,distrito,localizacion,numero,lesividad,meteo,coordenada_x_utm,coordenada_y_utm
0,01/01/2013,DE 00:00 A 00:59,MARTES,FUENCARRAL-EL PARDO,AUTOVIA M-30 CALZADA 1 KM.,31400,HL,Lloviendo,NaN,NaN
1,01/01/2013,DE 00:00 A 00:59,MARTES,TETUAN,AVENIDA DE ASTURIAS - CALLE DEL CAÑAVERAL,0,HL,Lloviendo,NaN,NaN
2,01/01/2013,DE 2:00 A 2:59,MARTES,CHAMARTIN,AUTOVIA M-30 CALZADA 1 - AVENIDA DE AMERICA,0,HL,Lloviendo,NaN,NaN
3,01/01/2013,DE 4:00 A 4:59,MARTES,CHAMBERI,CALLE DE GUZMAN EL BUENO - CALLE DE FERNANDEZ ...,0,HL,Lloviendo,NaN,NaN
4,01/01/2013,DE 6:00 A 6:59,MARTES,MONCLOA-ARAVACA,CARRETERA DE HUMERA NUM,2,HL,Lloviendo,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
133944,31/12/2022,0:30:00,NaN,CHAMBERÍ,"CALL. ALMAGRO, 44",44,HL,Normal,"441323,318","4475943,533"
133945,29/12/2022,19:00:00,NaN,ARGANZUELA,MADRID,23,NO ASIGNADA,Normal,"439327,947","4472963,361"
133946,30/12/2022,14:10:00,NaN,VICÁLVARO,"CALL. ERIAL DE LA ABUELA, 2",2,NO ASIGNADA,Normal,"453272,378","4472861,473"
133947,29/12/2022,19:40:00,NaN,CARABANCHEL,CALL. GENERAL RICARDOS / plaza de toros,174,HL,Normal,"437453,757","4470784,586"
133948,12/12/2022,22:50:00,NaN,USERA,AVDA. ANDALUCIA / AVDA. PERLA,14,NO ASIGNADA,Lloviendo,"441049,284","4469136,878"

In [6]:
#divide datafram into two dataframes by if cooridnates are null or not
accidentes_null = accidentes[accidentes['coordenada_x_utm'].isnull()]
accidentes_not_null = accidentes[accidentes['coordenada_x_utm'].notnull()]

In [7]:
accidentes_null

,fecha,hora,dia_semana,distrito,localizacion,numero,lesividad,meteo,coordenada_x_utm,coordenada_y_utm
0,01/01/2013,DE 00:00 A 00:59,MARTES,FUENCARRAL-EL PARDO,AUTOVIA M-30 CALZADA 1 KM.,31400,HL,Lloviendo,NaN,NaN
1,01/01/2013,DE 00:00 A 00:59,MARTES,TETUAN,AVENIDA DE ASTURIAS - CALLE DEL CAÑAVERAL,0,HL,Lloviendo,NaN,NaN
2,01/01/2013,DE 2:00 A 2:59,MARTES,CHAMARTIN,AUTOVIA M-30 CALZADA 1 - AVENIDA DE AMERICA,0,HL,Lloviendo,NaN,NaN
3,01/01/2013,DE 4:00 A 4:59,MARTES,CHAMBERI,CALLE DE GUZMAN EL BUENO - CALLE DE FERNANDEZ ...,0,HL,Lloviendo,NaN,NaN
4,01/01/2013,DE 6:00 A 6:59,MARTES,MONCLOA-ARAVACA,CARRETERA DE HUMERA NUM,2,HL,Lloviendo,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
59677,31/12/2018,DE 16:00 A 16:59,LUNES,USERA,AVENIDA DE LOS ROSALES NUM,32,HL,Normal,NaN,NaN
59678,31/12/2018,DE 19:00 A 19:59,LUNES,SAN BLAS,CARRETERA DE ACCESO A LA ESTACION DE O'DONNELL...,0,HL,Normal,NaN,NaN
59679,31/12/2018,DE 21:00 A 21:59,LUNES,CENTRO,CALLE DE VILLANUEVA - PASEO DE RECOLETOS,0,HL,Normal,NaN,NaN
59680,31/12/2018,DE 21:00 A 21:59,LUNES,SALAMANCA,CALLE DE VELAZQUEZ - CALLE DE VILLANUEVA,0,HL,Normal,NaN,NaN
59681,31/12/2018,DE 23:00 A 23:59,LUNES,HORTALEZA,CALLE DE JOAQUIN FERNANDEZ LEIVA - CALLE DE SI...,0,HL,Normal,NaN,NaN

In [8]:
# count hame many rows in localizacion contain 'num'
accidentes_null['localizacion'].str.contains('NUM').sum()

25413

In [9]:
accidentes_null['localizacion'].str.contains(' - ').sum()

27665

In [10]:
#Count how many are not 0 from the column 'numero'
accidentes_null['numero'].str.contains('0').sum()

36481

In [11]:
#Delete NUM from localizacion
accidentes_null['localizacion'] = accidentes_null['localizacion'].str.replace(' NUM', '')

C:\Users\calba\AppData\Local\Temp\ipykernel_36660\2650595083.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  accidentes_null['localizacion'] = accidentes_null['localizacion'].str.replace(' NUM', '')

In [12]:
#Add the number to the localizacion if it is not 0
accidentes_null['localizacion'] = accidentes_null['localizacion'].str.cat(accidentes_null['numero'], sep = ', ')

C:\Users\calba\AppData\Local\Temp\ipykernel_36660\1704389980.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  accidentes_null['localizacion'] = accidentes_null['localizacion'].str.cat(accidentes_null['numero'], sep = ', ')

In [13]:
#Delete ' 0' from localizacion
accidentes_null['localizacion'] = accidentes_null['localizacion'].str.replace(' 0', '')

C:\Users\calba\AppData\Local\Temp\ipykernel_36660\3016683580.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  accidentes_null['localizacion'] = accidentes_null['localizacion'].str.replace(' 0', '')

In [14]:
accidentes_null

,fecha,hora,dia_semana,distrito,localizacion,numero,lesividad,meteo,coordenada_x_utm,coordenada_y_utm
0,01/01/2013,DE 00:00 A 00:59,MARTES,FUENCARRAL-EL PARDO,"AUTOVIA M-30 CALZADA 1 KM., 31400",31400,HL,Lloviendo,NaN,NaN
1,01/01/2013,DE 00:00 A 00:59,MARTES,TETUAN,"AVENIDA DE ASTURIAS - CALLE DEL CAÑAVERAL,",0,HL,Lloviendo,NaN,NaN
2,01/01/2013,DE 2:00 A 2:59,MARTES,CHAMARTIN,"AUTOVIA M-30 CALZADA 1 - AVENIDA DE AMERICA,",0,HL,Lloviendo,NaN,NaN
3,01/01/2013,DE 4:00 A 4:59,MARTES,CHAMBERI,CALLE DE GUZMAN EL BUENO - CALLE DE FERNANDEZ ...,0,HL,Lloviendo,NaN,NaN
4,01/01/2013,DE 6:00 A 6:59,MARTES,MONCLOA-ARAVACA,"CARRETERA DE HUMERA, 2",2,HL,Lloviendo,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
59677,31/12/2018,DE 16:00 A 16:59,LUNES,USERA,"AVENIDA DE LOS ROSALES, 32",32,HL,Normal,NaN,NaN
59678,31/12/2018,DE 19:00 A 19:59,LUNES,SAN BLAS,CARRETERA DE ACCESO A LA ESTACION DE O'DONNELL...,0,HL,Normal,NaN,NaN
59679,31/12/2018,DE 21:00 A 21:59,LUNES,CENTRO,"CALLE DE VILLANUEVA - PASEO DE RECOLETOS,",0,HL,Normal,NaN,NaN
59680,31/12/2018,DE 21:00 A 21:59,LUNES,SALAMANCA,"CALLE DE VELAZQUEZ - CALLE DE VILLANUEVA,",0,HL,Normal,NaN,NaN
59681,31/12/2018,DE 23:00 A 23:59,LUNES,HORTALEZA,CALLE DE JOAQUIN FERNANDEZ LEIVA - CALLE DE SI...,0,HL,Normal,NaN,NaN

In [15]:
accidentes_null[accidentes_null.localizacion.str.contains('M-30') == True]

,fecha,hora,dia_semana,distrito,localizacion,numero,lesividad,meteo,coordenada_x_utm,coordenada_y_utm
0,01/01/2013,DE 00:00 A 00:59,MARTES,FUENCARRAL-EL PARDO,"AUTOVIA M-30 CALZADA 1 KM., 31400",31400,HL,Lloviendo,NaN,NaN
2,01/01/2013,DE 2:00 A 2:59,MARTES,CHAMARTIN,"AUTOVIA M-30 CALZADA 1 - AVENIDA DE AMERICA,",0,HL,Lloviendo,NaN,NaN
30,02/01/2013,DE 18:00 A 18:59,MIERCOLES,RETIRO,"AUTOVIA M-30 CALZADA 1 KM., 8000",8000,HL,Normal,NaN,NaN
31,02/01/2013,DE 18:00 A 18:59,MIERCOLES,RETIRO,"AUTOVIA M-30 CALZADA 1 KM., 9600",9600,HL,Normal,NaN,NaN
78,04/01/2013,DE 14:00 A 14:59,VIERNES,CIUDAD LINEAL,"AUTOVIA M-30 CALZADA 2 KM., 900",900,HL,Normal,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
59572,25/12/2018,DE 19:00 A 19:59,MARTES,ARGANZUELA,"AUTOVIA M-30 CALZADA 1 KM., 11800",11800,HL,Normal,NaN,NaN
59574,25/12/2018,DE 19:00 A 19:59,MARTES,PUENTE DE VALLECAS,"AUTOVIA M-30 CALZADA 2 KM., 10700",10700,HL,Normal,NaN,NaN
59584,26/12/2018,DE 9:00 A 9:59,MIERCOLES,CIUDAD LINEAL,"AUTOVIA M-30 CALZADA 2 - CALLE DE ALCALA,",0,HL,Normal,NaN,NaN
59589,26/12/2018,DE 13:00 A 13:59,MIERCOLES,CIUDAD LINEAL,"AUTOVIA M-30 CALZADA 2 KM.,",0,HL,Normal,NaN,NaN
59623,28/12/2018,DE 8:00 A 8:59,VIERNES,MONCLOA-ARAVACA,"AUTOVIA M-30 CALZADA 1 KM., 20100",20100,HL,Normal,NaN,NaN

In [16]:
accidentes_not_null[accidentes_not_null.localizacion.str.contains('M-30') == True]

,fecha,hora,dia_semana,distrito,localizacion,numero,lesividad,meteo,coordenada_x_utm,coordenada_y_utm
59689,01/01/2019,7:19:00,NaN,SALAMANCA,AUTOV. M-30 / AUTOV. M-11,+00700I,HL,Normal,"444112,961","4474859,918"
59698,01/01/2019,2:30:00,NaN,MORATALAZ,"AUTOV. M-30, 9.900",+00900E,NO ASIGNADA,Normal,"443622,679","4473127,654"
59701,02/01/2019,15:15:00,NaN,SALAMANCA,"AUTOV. M-30, PK,5.500 Cº,1 CENTRAL",+00500I,NO ASIGNADA,Normal,"444080,245","4476957,977"
59713,02/01/2019,11:00:00,NaN,VILLAVERDE,"CARRETERA M-301, KM 1",10,HL,Normal,"443448,465","4465146,843"
59749,02/01/2019,12:30:00,NaN,ARGANZUELA,"AUTOV. M-30, +01400I",+01400I,NO ASIGNADA,Normal,"440184,067","4471899,837"
...,...,...,...,...,...,...,...,...,...,...
133902,31/12/2022,3:53:00,NaN,ARGANZUELA,"AUTOV. M-30, 14NC58",14NC58,NO ASIGNADA,Normal,"439911,841","4472004,345"
133905,31/12/2022,5:40:00,NaN,MONCLOA-ARAVACA,"AUTOV. M-30, 20XC00",20XC00,NO ASIGNADA,Normal,"437482,687","4475763,499"
133922,31/12/2022,16:10:00,NaN,FUENCARRAL-EL PARDO,M-30 CALZADA EXT PK28.800,28XC80,NO ASIGNADA,Normal,"439535,136","4481297,944"
133935,31/12/2022,19:25:00,NaN,PUENTE DE VALLECAS,"AUTOV. M-30, 11XL44",11XL44,HL,Normal,"442272,362","4471062,721"
133937,31/12/2022,21:05:00,NaN,PUENTE DE VALLECAS,"AUTOV. M-30, 11XL44",11XL44,HL,Normal,"442303,64","4471146,007"

In [17]:
#join the two dataframes
accidentes = pd.concat([accidentes_null, accidentes_not_null])

In [18]:
#replace 'CALL.' for 'CALLE' in localizacion
accidentes['localizacion'] = accidentes['localizacion'].str.replace('CALL.', 'CALLE')

C:\Users\calba\AppData\Local\Temp\ipykernel_36660\304327469.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  accidentes['localizacion'] = accidentes['localizacion'].str.replace('CALL.', 'CALLE')

In [19]:
#save accidentes to csv without index
accidentes.to_csv('TRAFICO/accidentes.csv', index = False)